<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArm3C2ScxGEsywv9qlQyftGrzwUpMB49A</string>
	<key>GCM_SENDER_ID</key>
	<string>1096259041600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donggle.MLS</string>
	<key>PROJECT_ID</key>
	<string>m-l-s-30658</string>
	<key>STORAGE_BUCKET</key>
	<string>m-l-s-30658.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096259041600:ios:57aeb4c5a513990a43e2a5</string>
</dict>
</plist>